# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# .env file for sensitive environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Streamlit config file
.streamlit/
